#emotion-wheel {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
}

.emotion-column {
    margin: 10px;
}

.main-emotion {
    /* Styling for main emotions */
    font-weight: bold;
    margin-bottom: 5px;
}

.emotion {
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.emotion-subcolumn {
    margin-left: 20px;
}

.greyed-out {
    color: #757575;
    background-color: #e0e0e0;
}
